<!-- <hello name="{{ name }}"></hello> -->
<div class="row">
	<div class="col-md-12">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="nav navbar-nav">
				<li class="navbar-item active"><a class="nav-link" href='#'>Home</a></li>
				<li class="navbar-item"><a class="nav-link" href='#'>Server</a></li>
				<li class="navbar-item"><a class="nav-link" href='#'>User</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
    <app-home></app-home>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    <app-users></app-users>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
    <app-servers></app-servers>
  </div>
</div>

